@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar::-webkit-scrollbar,
.card-list::-webkit-scrollbar,
.main::-webkit-scrollbar {
    display: none;
}

.banner {
    background: rgb(41, 148, 251);
    background: linear-gradient(
        124deg,
        rgba(41, 148, 251, 1) 32%,
        rgba(0, 212, 255, 1) 76%
    );
}

.close {
    
}

.custom-card {
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}
